### Step1: 导入必要的库

In [2]:
import pandas as pd #数据分析
import numpy as np #科学计算
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
import os
os.chdir('..\\Data_Analysis')

In [6]:
data_train = pd.read_csv("./input/pratice_data.csv",index_col = 0)

## 数据选取

### 选取 'Survived', 'Ticket' 两列

In [5]:
temp = data_train[['Survived', 'Ticket' ]]

### 选取第500行以后的数据

In [6]:
temp = data_train[500:]

### 选取Embarked = S 的数据

In [8]:
temp = data_train.loc[data_train['Embarked']=='S',:]

### 选取Embarked = S 且 SibSp =1 的样本PassengerId 和 Survived数据

In [10]:
temp = data_train.loc[(data_train['Embarked']=='S')&(data_train['SibSp']==1),['PassengerId','Survived']]

### 选取500行以后且第3列之后数据

In [14]:
temp = data_train.iloc[500:,3:]

### 选取Cabin 在cabin_list的所有数据

- cabin_list =['C92', 'E38', 'D21', 'E12', 'E63', 'A14', 'B37', 'C30', 'D20']
- Embarked_list =['S','C']

In [24]:
cabin_list =['C92', 'E38', 'D21', 'E12', 'E63', 'A14', 'B37', 'C30', 'D20']
Embarked_list =['S','C']

In [22]:
temp = data_train.loc[data_train['Cabin'].isin(cabin_list),:]

### 选取Cabin <font color=red>不在</font>cabin_list的所有数据

In [23]:
temp = data_train.loc[~data_train['Cabin'].isin(cabin_list),:]

### 选取所有数值型特征数据
data_train.info()

In [18]:
num_data = data_train.select_dtypes(include = ['float64','int64'])

### 选取所有类别型特征数据

In [21]:
num_data = data_train.select_dtypes(include = ['object'])

## 排序

### 对Age进行倒序排列

In [30]:
temp = data_train.sort_values(by =['Age'],ascending =False)

### 对'Age','Pclass' 进行排倒序 缺失值排在最前面

In [32]:
temp = data_train.sort_values(by = ['Age','Pclass'],ascending = False, na_position = 'first')

### 利用rank() 方法排序(掌握)

In [ ]:
sub_data2.rank(axis =1)

In [4]:
temp = data_train[['Survived', 'Ticket' ]]

Index(['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId',
       'Pclass', 'Sex', 'SibSp', 'Survived', 'Ticket', 'timestamp', 'title',
       'genres', 'rating', 'timestamp_1'],
      dtype='object')

## 去重

### 统计重复数量 子数据['Parch','SibSp','Embarked']
#计算唯一样本数量

In [37]:
sub_data = data_train[['Parch','SibSp','Embarked']]

In [38]:
sub_data.duplicated().sum()

1265

### 统计非重复数量

In [39]:
dup_num = len(data_train) - sub_data.duplicated().sum()
dup_num

44

### 显示重复的行数

In [40]:
sub_data[sub_data.duplicated()]

      Parch  SibSp Embarked
id
3         0      1        S
4         0      0        S
6         0      0        S
9         0      1        C
11        0      0        S
12        0      0        S
14        0      0        S
15        0      0        S
17        0      0        S
18        0      1        S
20        0      0        S
21        0      0        S
22        0      0        Q
23        0      0        S
24        1      3        S
25        5      1        S
26        0      0        C
28        0      0        Q
29        0      0        S
30        0      0        C
31        0      1        C
32        0      0        Q
33        0      0        S
34        0      1        C
35        0      1        S
36        0      0        C
37        0      0        S
39        0      1        C
40        0      1        S
41        0      1        S
...     ...    ...      ...
1279      0      0        Q
1280      1      3        S
1281      0      0        S
1282      1      0        S
1283      2      0        S
1284      0      0        S
1285      1      3        S
1286      0      1        S
1287      0      0        Q
1288      1      1        C
1289      0      0        S
1290      0      0        Q
1291      0      0        S
1292      0      1        S
1293      1      0        C
1294      0      0        S
1295      0      1        C
1296      0      0        C
1297      0      1        S
1298      1      1        C
1299      0      0        Q
1300      1      1        S
1301      0      0        Q
1302      0      1        Q
1303      0      0        S
1304      0      0        S
1305      0      0        C
1306      0      0        S
1307      0      0        S
1308      1      1        C

[1265 rows x 3 columns]

### 剔重操作
### 剔除 'Parch','SibSp','Embarked' 的重复数据 temp

In [46]:
temp = data_train.drop_duplicates(['Parch','SibSp','Embarked'])
# sub_data3.drop_duplicates(['Sex_bool','Title2'],keep = 'last',inplace =False)

### 将temp索引 变为列

In [48]:
temp.reset_index(drop = False,inplace = True)

### 将temp索引 变为列id

In [49]:
temp.set_index('id',inplace = True)