## 导入必要的库

In [1]:
import pandas as pd #数据分析
import numpy as np #科学计算
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

import os
os.chdir('D:\\Python\\Git_test\\Data_Analysis')

In [3]:
data_train = pd.read_csv("./input/pratice_data.csv",index_col = 0)

In [4]:
data_train.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,timestamp,title,genres,rating,timestamp_1
id,,,,,,,,,,,,,,,,,
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,03/23/2009 08:30:00,Toy Story (1995),Animation|Children's|Comedy,5,978300760
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,03/26/2015 19:10:00,Jumanji (1995),Adventure|Children's|Fantasy,3,978302109
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,01/07/2007 07:45:00,Grumpier Old Men (1995),Comedy|Romance,3,978301968
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,04/18/2005 00:10:00,Waiting to Exhale (1995),Comedy|Drama,4,978300275
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,02/25/2009 09:40:00,Father of the Bride Part II (1995),Comedy,5,978824291

## 一、缺失值
* 查看缺失值： 统计缺失值数，分布
* 缺失值处理：
    + 缺失值删除（按行，按列[某几列]）
    + 缺失值填充 
        - 基于统计方法：众数、中位数、均值
        - 基于模型方法：随机森林

### step1. 查看缺失值数量

In [5]:
data_train.isnull().sum()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
timestamp         0
title             0
genres            0
rating            0
timestamp_1       0
dtype: int64

### setp 2. 查看非缺失值数量

In [ ]:
data_train.notnull().sum()

### step 3. 删除缺失值列 Cabin
1先copy数据 2dropna axis =1 时,subset 指索引列

data_temp = data_train.copy()
#### 运用drop方法

In [33]:
data_temp.drop('Age',axis =1,inplace = True)

#### 运用dropna方法

In [31]:
data_temp.dropna(axis=1,how = 'any',inplace =True) 

data_temp.shape

(1309, 12)

### step 4. 删除缺失值行 Fare 缺失的行
先copy数据

data_temp = data_train.copy()

In [34]:
data_temp.dropna(axis = 0, how= 'any',subset=['Fare'],inplace =True)

### step 5.删除超过三个缺失的行数据 
['Cabin','Age','Embarked']

In [ ]:
 data_train.dropna(axis = 0, how= 'any',subset=['Cabin','Age','Embarked'],inplace =True,thresh = 2)

In [ ]:
d1.count() #非空元素计算
d1.min() #最小值
d1.max() #最大值
d1.idxmin() #最小值的位置，类似于R中的which.min函数
d1.idxmax() #最大值的位置，类似于R中的which.max函数
d1.quantile(0.1) #10%分位数
d1.sum() #求和
d1.mean() #均值
d1.median() #中位数
d1.mode() #众数
d1.var() #方差
d1.std() #标准差
d1.mad() #平均绝对偏差
d1.skew() #偏度
d1.kurt() #峰度
d1.describe() #一次性输出多个描述性统计指标

## 缺失值替换
**<font color=blue>缺失值替换  fillna</font>**<br>

* [Pandas参考文档](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html?highlight=fillna#pandas.DataFrame.fillna)

### step 6. 用均值替换Fare缺失值

In [ ]:
data_train['Fare'].fillna(data_train.Fare.mean(),inplace =True)

### step 7. 用特定值替换Fare缺失值

In [ ]:
_= data_train.fillna(0, inplace=True)  # 用特定值替换

### step 8. 用前一个值值替换Fare缺失值

In [ ]:
# data_train.fillna(method='ffill', limit=2) #用前一个值替换

### step 9. 用replace 标记Age 缺失值为 -1

In [ ]:
data_train['Age'].replace(np.nan,-1)

### step 10. 用replace 对Age 特定值进行替换(基于列表 和 字典)
0.42: 0 ;-1000: np.nan

In [ ]:
# 基于字典
data_train['Age'].replace({0.42: 0, -1000: np.nan})

In [ ]:
# 基于列表
data_train['Age'].replace([0.42,-1000], [0,np.nan])

### step11. 基于Initial条件填充Age（粗略）
##Assigning the NaN Values with the Ceil values of the mean ages
Mr:33 \Mrs:36\Master:5\Miss:22\Other:46

In [ ]:
data.loc[(data.Age.isnull())&(data.Initial=='Mr'),'Age']=33
data.loc[(data.Age.isnull())&(data.Initial=='Mrs'),'Age']=36
data.loc[(data.Age.isnull())&(data.Initial=='Master'),'Age']=5
data.loc[(data.Age.isnull())&(data.Initial=='Miss'),'Age']=22
data.loc[(data.Age.isnull())&(data.Initial=='Other'),'Age']=46
data.Age.isnull().any() #So no null values left finally   检查是否还有空值

### step 12. 基于连续变量的统计分布填充  
随机random.randint() 抽取 
[#在正负标准差之间选取]

In [36]:
age_avg = data_train['Age'].mean()
age_std = data_train['Age'].std()
age_null_count = data_train['Age'].isnull().sum()
age_null_random_list = np.random.randint(age_avg - age_std, age_avg + age_std, size=age_null_count)

### step 13. 将抽取的数据填充到缺失位置
isnan 是numpy 中的方法
#data['Age'][np.isnan(data['Age'])] = age_null_random_list   # 效果同样
#data['Age'][data['Age'].isnull()]  = age_null_random_list   # 效果同样

In [37]:
data_train['AgeFill']=data_train['Age']
data_train['AgeFill'][data_train.Age.isnull()] = age_null_random_list
data_train['AgeFill'] = data_train['AgeFill'].astype(int)

C:\ProgramData\Anaconda2\envs\gluon_py3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

### step 14. 离散型变量Embarked-用众数填充  mode()   
中位数median()  -->数值型

#### Embarked

In [ ]:
data['Embarked'].mode()

In [ ]:
data_train['Embarked'].fillna('S',inplace =True)
# data_train['Embarked'].replace({0: np.nan},inplace =True)

In [ ]:
data_train['Embarked'].value_counts(dropna = False)