# 1.数据读取与保存(data load & storage)                             


#### 笨办法学 Python 数据分析  / learn data analysis the hard way
- Author：知行并重


|<h2>技能点</h2> | |
|:-----|:-----|
| **Q001:  如何读取csv文件数据表**| **Q002:  如何将数据导出为csv文件**|
| **Q003:  读取无列名 或 以特殊分隔符的数据文件**| **Q004:  读取不含列名和索引的数据文件**|
| **Q005:  将数据保存为指定分隔符的数据文件**| **Q006:  将数据导出为不含列名和索引的数据文件**|
| **Q007:  读取数据时指定列的数据类型**| **Q008:  超大数据文件读取**|
| **Q009:  读取excel中某个sheet中的数据**| **Q010:  将数据保存为excel文件**|
| **Q011:  将多个数据表写入同一个excel中**|
| **Q012:  读取二进制pickle数据文件**| **Q013:  将数据表保存为二进制pickle数据表文件**|
| **Q014:  将列表或字典等类型文件保存为pickle文件**| **Q015:  读取以pickle保存的列表或字典等类型数据**|
| **Q016:  非结构化数据的文本（非数据表）文件读取**| **Q017:  将非结构化数据写入文本文件**|
| **Q018:  技巧：如何查看函数参数和帮助文档**||

数据的存储格式有更多种，是不是我们要掌握所有的方式呢？ 答案自然是否定的！
作为初学者，建议先熟练掌握3种最常用的格式。

- csv： Comma Separated Values 指默认以逗号分隔的文本文件
- xlsx
- pickle：python提供的二进制文件格式


剩下的在需要时查看文档或者百度即可。Pandas 的文档非常详细，因此要习惯看文档，常看文档！

In [5]:
# 导入必要的库
import pandas as pd #数据分析

## 2.1. CSV

### Q001: 如何读取csv文件数据表

这里以./input/Titanic.csv数据为例。

In [6]:
data = pd.read_csv("../input/titanic.csv")

In [7]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Q002: 如何将数据导出为csv文件

将数据写入practice_data.csv

In [8]:
# 将数据写入practice_data.csv
data.to_csv("../output/pratice_data.csv")

### Q003: 将数据保存为指定分隔符的数据文件

### Q004: 将数据导出为不含列名和索引的数据文件
Q003和Q004 可以通过 to_csv() 这一个方法的不同参数的设置解决，考虑篇幅，我们放到一起讲。

例如，实现
1. 不带列名
2. 以 | 分隔 
3. 不保存索引列

3个要求保存数据表的话，可通过：

In [9]:
data.to_csv("../output/pratice_data_v1.csv",
                  sep ='|',   # 以竖线分隔  '\t'
                  header =False, # 不要列名
                  index = False) # 不保存索引列

### Q005: 读取以特殊分隔符的数据文件
### Q006: 读取不含列名和索引的数据文件

Q005和Q006 可以通过 pd.read_csv 这一个函数的不同参数的设置解决。

读取
1. 以 | 分隔 
2. 不带列名
3. 读取时赋予列名

的数据表时

In [10]:
df_names = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [11]:
data_train = pd.read_csv("../output/pratice_data_v1.csv",
                  sep ='|',   # 以竖线分隔
                  header =None, # 无列名
                  names = df_names  # 读取时赋予列名
                  )

In [12]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 2.1.2 进阶提高

### Q007: 读取数据时指定列的数据类型 【选学】
读取时，指定数据表列的数据类型 `参数：dtype`
### Q008: 超大数据文件读取 【选学】
 循环遍历数据表（当数据量上G，非常大时可以使用）`参数：chunksize`

感兴趣的小伙伴可以先自行探索。具体内容在advance中介绍

### 2.2. Excel

可能需要安装 xlrd / openpyxl

In [13]:
!pip install xlrd  openpyxl

Requirement already satisfied: xlrd in c:\programdata\anaconda2\envs\gluon_py3\lib\site-packages (1.1.0)
Requirement already satisfied: openpyxl in c:\programdata\anaconda2\envs\gluon_py3\lib\site-packages (2.5.2)
Requirement already satisfied: jdcal in c:\programdata\anaconda2\envs\gluon_py3\lib\site-packages (from openpyxl) (1.3)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda2\envs\gluon_py3\lib\site-packages (from openpyxl) (1.0.1)

You are using pip version 18.1, however version 21.2.4 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

### Q009: 读取excel中某个sheet中的数据

以 读取./input/pratice_data.xlsx中的data页数据为例

In [14]:
data = pd.read_excel('../input/pratice_data.xlsx',sheet_name = 'data')  
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Q010: 将数据保存为excel文件

写入excel文件的 data页

In [15]:
data.to_excel('../output/pratice_data_v1.xlsx',sheet_name = 'data')

### Q011: 将多个数据表写入同一个excel中

这里我们将 data 拆成前后400行两个数据表，分别保存在两个sheet中，进行演示。

In [16]:
writer = pd.ExcelWriter('../output/pratice_data_v2.xlsx')
data[:400].to_excel(writer,sheet_name = 'data1')
data[400:].to_excel(writer,sheet_name = 'data2')
writer.save() # 关闭保存

## 2.3. pickle

**pickle 是 Python支持的二进制存储格式，读取速度快！ 而且你几乎可以将任意类型数据给存储为pkl格式。如：列表、字典、集合等等
。**

### Q012: 读取二进制pickle数据表文件

读取 pratice_data.pkl  数据表

In [17]:
data = pd.read_pickle('../input/pratice_data.pkl')
data.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Q013: 将数据表保存为二进制pickle数据文件

通过 to_pickle 方法

In [18]:
data.to_pickle('../output/pratice_data1.pkl')

### Q014: 将列表或字典等类型文件保存为pickle文件

pickle 不光可以保存 数据表，还可以保存更通用的格式（对象）如列表，字典等等。 下面函数可以保存，方便后续使用

In [19]:
import pickle 

def dump_pickle(data,dir):
    # 保存
    with open(dir,'wb') as f:
        pickle.dump(data,f,protocol=4)

def load_pickle(dir):
    # 读取
    with open(dir,'rb') as f:
        out_file = pickle.load(f)
    return out_file

以保存列表为例。这里将 data中的Age列抽取部分，转化为列表

In [20]:
cust_age = data['Age'].tolist()[:10]
cust_age

[22.0, 38.0, 26.0, 35.0, 35.0, nan, 54.0, 2.0, 27.0, 14.0]

将列表保存为pickle格式

In [21]:
dump_pickle(cust_age,'../output/cust_age.pkl')

### Q015: 读取以pickle保存的列表或字典等类型数据

In [22]:
cust_age = load_pickle('../output/cust_age.pkl')
cust_age

[22.0, 38.0, 26.0, 35.0, 35.0, nan, 54.0, 2.0, 27.0, 14.0]

In [23]:
# cust_age = load_pickle('D:\\Python\\Data_Analysis\\learn-data-analysis-the-hard-way\\Pandas\\output\\cust_age.pkl')
# cust_age

[22.0, 38.0, 26.0, 35.0, 35.0, nan, 54.0, 2.0, 27.0, 14.0]

## 2.4 一般文件读取

参考如下：https://www.runoob.com/python/python-files-io.html

### Q016: 非结构化数据的文本（非数据表）文件读取

结构化数据可以看成特殊的文本数据（有特定分隔符的）。这里我们忽视数据中的分隔符，将其作为一般的文本文件，进行读取

In [25]:
# 读取数据
with open('../input/titanic.csv','r') as f:
    # 每一行作为列表的一个元素
    data = f.readlines() 

    #注：看看用　ｆ.readline() 区别

In [26]:
data[:2]

['PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked\n',
 '1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S\n']

### Q017: 将非结构化数据写入文本文件

In [27]:
# 写入数据
with open('../output/titanic_out.csv','w') as f:
    for line in data:
        f.write(line)

### Q018: 技巧：如何查看函数参数和帮助文档

上面介绍的都是非常常用的函数，作为初学者很多参数，一开始学记不住怎么办？

没关系！ pandas 提供了非常详细的帮助文档。
- **命令方式：两个？ or help()**

一个命令，可以一键调取。

In [31]:
# help(pd.read_csv)
# jupyter 下 函数后面加两个问好
pd.read_csv??

如果你可以联网可直接去Pandas 官网查看：https://pandas.pydata.org/docs/user_guide/io.html

## 谢谢观看
Github 代码：https://github.com/kevin-meng/learn-data-analysis-the-hard-way

![](../pics/thankyou.png)