# 7.变量衍生 (Feature Enginnering)                             


#### 笨办法学 Python 数据分析  / learn data analysis the hard way
- @Author：知行并重

|<h2>技能点</h2> | |
|:-----|:-----|
|**Q075: 基于单变量进行变量衍生**|
|**Q076: 根据位置提取文本中提取目标值**|**Q078: 基于正则表达式提取文本中提取目标值**|
|**Q078: 其他的一些常用的处理函数**|
|**Q079: 对目标变量类型转换生成新的列**|**Q080: 对离散变量进行类别合并**|
|**Q081: 对连续变量进行均匀分箱离散化**|**Q082: 对连续变量进行自定义分箱离散化**|
|**Q083: 对连续变量浮点数位数进行转换**|
|**Q084: 基于多变量进行变量衍生**|

## 目录
1. 单变量
    - 文本 （正则表达式）
    - 离散 （类别合并）
    - 连续 （分箱）
2. 多变量
    - 依据多变量

### 导入必要的库

In [5]:
import pandas as pd #数据分析
import numpy as np # 矩阵计算

# 数据读取

data = pd.read_csv("../input/titanic.csv")

data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#  衍生变量

在数据分析的过程中,有时我们需要根据已有的列生成新的一列.


下面具体我将从衍生变量`依赖的变量数据目`,来介绍.

学习本节你可能需要掌握一些基础的 python 操作.
也就是会 对字符串\数字 基本的处理.

Pandas 列的生成有一种通用的方式: 

将针对特定元素的函数应用到 某个列的全部元素上,并生成一个新的列.
**达到目的的方式有很多种,对于初学者, 我们只需要掌握最常用,最普适的方式!**

### Q075: 基于单变量进行变量衍生

In [ ]:
# 单变# 单变量
data['new_col1'] = data['old_cols'].apply(lambda x:func1(x))  #  可简写成 .apply(func1)

In [4]:
# 多变量
data['new_col2'] = data.apply(lambda x:func2(x['old_cols1'],x['old_cols2']),axis=1)
# 依赖3个或者更多也是一样

## 1 单变量

当仅仅依赖一个列变量进行加工时.

## 1.1 文本字符串

这里全当复习一遍 Python 的字符串操作基础. 
对于文本字符串,常用的操作有以下几类:

1. 替换   
2. 提取
    - 按位置
    - 正则表达式
3. 拼接       # eg:  "Hello" + "World"
4. 大小写转换    
    
前两种操作,其实都可以用正则表达式来实现.
[正则菜鸟教程](https://www.runoob.com/python/python-reg-expressions.html)

我常用的函数 替换:re.sub;提取:re.findall

###  1.1.1 字符串操作

### Q076: 根据位置提取文本中提取目标值

In [6]:
# 选取前三个字符
data['temp'] = data['Name'].apply(lambda x: x[:3])

In [8]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,temp
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Bra
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Cum
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Hei
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Fut
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,All

### Q078: 基于正则表达式提取文本中提取目标值

1.1.1.1 用正则表达式提取 Name中的头衔

In [10]:
import re

# 提取
def process_name(name):
    result = re.findall("([A-Za-z]+)\.",name)[0]
    return result

In [15]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,temp,title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Bra,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Cum,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Hei,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Fut,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,All,Mr

In [14]:
#调用 apply函数 
# findall()[0] 返回列表
# data['title']=data['Name'].apply(lambda x:process_name(x)) 
data['title']=data['Name'].apply(process_name)

In [17]:
# data['title'].value_counts(dropna=False)

In [18]:
# 因为处理方式,比较简单.也可以采用匿名函数的方式实现.
# 但我更偏好,上一种, 在处理内容比较多时,代码更具可读性
data['Initial']=data['Name'].apply(lambda x: re.findall("([A-Za-z]+)\.",x)[0])

### Q078: 其他的一些常用的处理函数

In [17]:
# 替换
def sub_name(name):
    result = re.sub("\s","",name)  # \s 空格
    return result

In [18]:
# # 提取前三位字母
def cut_name(name):
    result = name[0:3]
    return result

In [19]:
# 拼接
def concat_name(name):
    result = "[" +name + "]"   # f"[{name}]"
    return result

In [20]:
# 大小写转换
def lower_name(name):
    result = name.lower()   # lower() / upper()
    return result

你可以尝试将这些方法,依次运行,看看结果.加深下印象.

其实, 对于字符串的操作远不止这些.还是要看你具体的需求是什么?

记住,学以致用!!

### Q079: 对目标变量类型转换生成新的列


#### 1.3.2.1 将浮点型 Fare 转换为整型

In [20]:
data['Fare_int'] = data['Fare'].apply(int)  # 等同于 lambda x:int(x)   # float str

In [21]:
data[['Fare','Fare_int']].head()

      Fare  Fare_int
0   7.2500         7
1  71.2833        71
2   7.9250         7
3  53.1000        53
4   8.0500         8

## 1.2 离散型

对于类别型变量的常规操作有:
1. 类别合并
2. 类别编码,如将字符串的类别转化为数字等

### Q080: 对离散变量进行类别合并

可以通过构造一个字典进行映射,也可以写一个包含if...else...函数.下面分别介绍.

#### 1.2.1.1 对title 列变量进行归类合并

In [22]:
data['title'].value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Col           2
Major         2
Mme           1
Sir           1
Capt          1
Don           1
Jonkheer      1
Countess      1
Lady          1
Ms            1
Name: title, dtype: int64

In [26]:
# map 替换有多个类型 情况
title_dict = {
        "Capt":       "Rare",
        "Col":        "Rare",
        "Major":      "Rare",
        "Jonkheer":   "Rare",
        "Don":        "Rare",
        "Sir" :       "Rare",
        "Dr":         "Rare",
        "Rev":        "Rare",
        "Countess":   "Rare",
        "Dona":       "Rare",
        "Mme":        "Mrs",
        "Mlle":       "Miss",
        "Ms":         "Mrs",
        "Mr" :        "Mr",
        "Mrs" :       "Mrs",
        "Miss" :      "Miss",
        "Master" :    "Master",
        # "Lady" :      "Rare"
}

In [27]:
data['title_new'] = data['title'].map(title_dict)

In [28]:
data['title_new'].value_counts(dropna=False)

Mr        517
Miss      184
Mrs       127
Master     40
Rare       22
NaN         1
Name: title_new, dtype: int64

如果字典中注释掉, "Lady" : "Royalty" 映射结果会有什么不同?

##### 注:对于字典没出现的值,map 后会变成空

但是当如果需要替换的不是很多的情况下,可以通过replace方法实现.

In [29]:
rare_title2= ['Dr', 'Rev', 'Col', 'Major', 'Capt', 'Countess', 'Jonkheer', 'Sir', 'Lady', 'Don','Ms','Mme','Mlle']
data['title2'] = data['title'].replace(rare_title2, 'Rare')

In [30]:
data['title2'].value_counts()

Mr        517
Miss      182
Mrs       125
Master     40
Rare       27
Name: title2, dtype: int64

#### 1.2.1.2 对 title 列变量转化为数值

In [31]:
# 通过函数 映射
def titile_num(title):
    if title == 'Mr':
        return 1
    elif title == 'Miss':
        return 2
    elif title == 'Mrs':
        return 3
    elif title == 'Master':
        return 4
    elif title == 'Rare':
        return 5
    else:
        return 6
    
# title_mapping ={
#     'Mr':1,
#     'Miss':2,
#     'Mrs':3,
#     'Master':4,
#     'Rare':5,
# }

In [32]:
data['title_num'] = data['title'].apply(lambda x: titile_num(x))
# data['title_num'] = data['title_new'].map(title_mapping)

In [33]:
data['title_num'].value_counts()

1    517
2    182
3    125
4     40
6     27
Name: title_num, dtype: int64

这么看是不是用字典映射会比较方便!

### 1.3 连续型

对于连续变量,一般的简单计算,可以直接通过定义函数就可以实现.这里不再赘述.

这里介绍一个连续变量最常用的处理方式.---- **变量分箱**

### 1.3.1 连续变量分箱

### Q081: 对连续变量进行均匀分箱离散化
 1.3.1.1 对 Age 进行 5 等分

In [34]:
# 均匀分割5 等份
data['CategoricalAge'] = pd.cut(data['Age'], 5)

In [35]:
print("Min:",data['Age'].min(),"\tMax:",data['Age'].max())
data['CategoricalAge'].value_counts()

Min: 0.42 	Max: 80.0

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.34, 16.336]      100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: CategoricalAge, dtype: int64

### Q082: 对连续变量进行自定义分箱离散化

#### 1.3.1.2  基于 pd.cut  不均匀分段

**(对Age分箱 0,16,32,48,64 分箱)**

In [36]:
bins = [0,16,32,48,64,np.inf]
labels = [1,2,3,4,5]
data['Age_cut1']= pd.cut(data['Age'],bins = bins,labels= labels,right =False) # 默认(左开 右闭 ]
data['Age_cut1'].head()

0    2
1    3
2    2
3    3
4    3
Name: Age_cut1, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [37]:
pd.cut??

**其他实现方法** 
- 2.用if..else 函数 再 apply
- 3.用条件划分 loc

这种方式 虽然也可达到目的,但可读性较差. 不优雅！故不推荐!

In [23]:
# data_train['Age_band']=0
# data_train.loc[data_train['Age']<=16,'Age_band']=0
# data_train.loc[(data_train['Age']>16)&(data_train['Age']<=32),'Age_band']=1
# data_train.loc[(data_train['Age']>32)&(data_train['Age']<=48),'Age_band']=2
# data_train.loc[(data_train['Age']>48)&(data_train['Age']<=64),'Age_band']=3
# data_train.loc[data_train['Age']>64,'Age_band']=4
# # data_train.head(2)

### Q083: 对连续变量浮点数位数进行转换

#### 1.3.2.2 将浮点型 Fare保留1位小数

In [38]:
data['Fare'].head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [39]:
data['Fare_1round'] =data['Fare'].apply(lambda x:round(x,1))

In [40]:
data['Fare_1round'].head()

0     7.2
1    71.3
2     7.9
3    53.1
4     8.1
Name: Fare_1round, dtype: float64

## 2.2 多变量

### Q084: 基于多变量进行变量衍生

#### 2.2..1 计算船上家庭成员数量

- sibsp + parch + 1
- sibsp	# of siblings / spouses aboard the Titanic
- parch	# of parents / children aboard the Titanic

In [41]:
def change_fun(x,y):
    return x + y + 1

In [42]:
data['family_size'] = data.apply(lambda x:change_fun(x['Parch'],x['SibSp']),axis = 1)

In [43]:
data[['Parch','SibSp','family_size']].head()

   Parch  SibSp  family_size
0      0      1            2
1      0      1            2
2      0      0            1
3      0      1            2
4      0      0            1

### 总结

相信以上介绍的内容可以覆盖平时运用大部分场景. 大家也可以按照介绍的内容,举一反三.

# 谢谢观看
Github 代码：https://github.com/kevin-meng/learn-data-analysis-the-hard-way

![](../pics/thankyou.png)